body {
  background-color: #111;
  margin: auto;
  height: 100vh;
}

h1 {
  color: #ddd;
  font-size: 2em;
}

main {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.quote {
  margin-top: 25vh;
}
blockquote {
  font-family: 'Mate SC', 'Times New Roman', serif;
}
blockquote h1::before {
  content: '\201C';
}

blockquote p::after {
  content: '\201D';
}

blockquote footer {
  text-align: right;
}

footer {
  align-self: bottom;
  margin-bottom: 20px;
}
p,span,footer {
  color: #ddd;
}
footer * {
  color: #555;
}
footer {
  margin-left: 12px;
}
/* .gallery {
  margin-top: 75px;
} */
.gallery img{
  max-width: 350px;
  border-radius: 3%;
}
.quote {
  margin-bottom: 100px;
  color: #ddd;
}